@model IEnumerable<EventHub.Models.Evento>

@{
    ViewData["Title"] = "Evento";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div
                    class="bg-gradient-warning shadow-dark border-radius-lg pt-4 pb-3 d-flex align-items-center justify-content-between">
                    <h5 class="text-white text-capitalize ps-3 m-0">@ViewData["Title"]</h5>
                    <a asp-action="Create" class="text-white text-capitalize ps-3 me-4 d-flex align-items-center"><i
                            class="material-icons">add</i>Adicionar</a>
                </div>
            </div>
            <div class="card-body  pb-2">
                <div class="table-responsive p-0">
                    <table id="dataTable" class="table align-items-center justify-content-center mb-0 w-100">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                                  @Html.DisplayNameFor(model => model.Titulo)
                                </th>
                                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                                    Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkVideo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        let dataTable = new DataTable('#dataTable', {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json',
            },
            initComplete: function (settings, json) {
                document.querySelector('.dt-length').classList.add('text-xs');
                document.querySelector('.dt-search').classList.add('text-xs');
                document.querySelector('.dt-info').classList.add('text-xs');
                document.querySelector('.dt-paging').classList.add('text-xs');
            }
        });
    </script>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkVideo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkVideo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
